flows.json
[{"id":"36708a55.600986","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"99463f54.c14f5","type":"ibmiot in","z":"36708a55.600986","authentication":"apiKey","apiKey":"884ea433.bd9428","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"IOTdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":100,"wires":[["a2b393bf.90762","341dff18.dfd5","2c96e45e.5f80ac","c10ff9ec.1ffad8"]]},{"id":"a2b393bf.90762","type":"debug","z":"36708a55.600986","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":60,"wires":[]},{"id":"341dff18.dfd5","type":"function","z":"36708a55.600986","name":"temperature","func":"global.set('t',msg.payload.d.temperature)\nreturn{payload:msg.payload.d.temperature}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":160,"wires":[["a2b393bf.90762","2c65f2fe.a72f4e","6bdd5b8a.af9b74"]]},{"id":"2c96e45e.5f80ac","type":"function","z":"36708a55.600986","name":"fire sensor","func":"global.set('f',msg.payload.d.firesensor)\nreturn{payload:msg.payload.d.firesensor}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":260,"wires":[["a2b393bf.90762","6faa8a32.3d9d14","52bd746f.83c7ec"]]},{"id":"c10ff9ec.1ffad8","type":"cloudant out","z":"36708a55.600986","name":"","cloudant":"","database":"monitoring","service":"node-red-fdxnk-2021--cloudant-1620812461635-90473","payonly":true,"operation":"insert","x":350,"y":60,"wires":[]},{"id":"2c65f2fe.a72f4e","type":"ui_gauge","z":"36708a55.600986","name":"temperature","group":"96a45d3c.2d9a3","order":2,"width":0,"height":0,"gtype":"wave","title":"Temperature","label":"C","format":"{{value}}","min":"-20","max":"125","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":200,"wires":[]},{"id":"6faa8a32.3d9d14","type":"ui_chart","z":"36708a55.600986","name":"","group":"96a45d3c.2d9a3","order":6,"width":0,"height":0,"label":"Fire sensor values","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":340,"wires":[[]]},{"id":"af2809aa.49e488","type":"http request","z":"36708a55.600986","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=urY4NXgI10xqBUK5CW8hfzneFca63lPmVZiLt2EHsoSdOyRTwknDmk5HbfrMAja2YOeZ9Bz8dclspXtL&message=Alert!Temperature exceeded the optimal value&language=english&route=q&numbers=9666505998","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":120,"wires":[["a2b393bf.90762"]]},{"id":"4fae7a50.71de74","type":"http request","z":"36708a55.600986","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=urY4NXgI10xqBUK5CW8hfzneFca63lPmVZiLt2EHsoSdOyRTwknDmk5HbfrMAja2YOeZ9Bz8dclspXtL&message=Alert!Fire accident is detected&language=english&route=q&numbers=9666505998","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":280,"wires":[["a2b393bf.90762"]]},{"id":"7fad3cf7.bad514","type":"switch","z":"36708a55.600986","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":280,"wires":[["4fae7a50.71de74"]]},{"id":"a0dbef2a.30bc9","type":"switch","z":"36708a55.600986","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"24","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":120,"wires":[["af2809aa.49e488"]]},{"id":"6bdd5b8a.af9b74","type":"rbe","z":"36708a55.600986","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":410,"y":120,"wires":[["a0dbef2a.30bc9"]]},{"id":"52bd746f.83c7ec","type":"rbe","z":"36708a55.600986","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":430,"y":280,"wires":[["7fad3cf7.bad514"]]},{"id":"f0e72d75.262fd","type":"ui_template","z":"36708a55.600986","group":"96a45d3c.2d9a3","name":"","order":16,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\">\n<style>\n    body {\n        background-image: url(\"https://www.google.com/imgres?imgurl=https%3A%2F%2Fmiro.medium.com%2Fmax%2F2560%2F1*LwKNXqB_p506WLML8D0SAA.jpeg&imgrefurl=https%3A%2F%2Fmedium.com%2Fthe-technology-burrow%2Fmonitoring-of-perishable-goods-in-a-retail-environment-471bc6a4ff9b&tbnid=Xq6TXXKeMEiOJM&vet=12ahUKEwiIkoyoxbLxAhWaQX0KHd43Bf8QMygAegUIARC2AQ..i&docid=sW_qb0LhUhZK9M&w=1280&h=720&q=image%20on%20pherisable%20goods%20monitoring%20system&ved=2ahUKEwiIkoyoxbLxAhWaQX0KHd43Bf8QMygAegUIARC2AQ\");\n        background-repeat: no-repeat;\n        background-position: right top;\n        background-size: 100%;\n    }\n</style>\n</div>-->","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":760,"y":400,"wires":[["a2b393bf.90762"]]},{"id":"884ea433.bd9428","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"178vg8.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"96a45d3c.2d9a3","type":"ui_group","name":"Sensor Readings","tab":"31b85b08.4a6634","order":1,"disp":true,"width":"6","collapse":false},{"id":"31b85b08.4a6634","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]